*.lo
*.o
*.la
nprobe

.deps/
aclocal.m4
autom4te.cache/
Makefile
Makefile-nprobe.mk
Makefile.in

# Random autogen'd stuff
install-sh
libtool
ltmain.sh
m4/
nbproject/
nprobe-6.1.6.tar.gz
nprobe.spec
plugins/Makefile.am
missing
depcomp
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
stamp-h1
version.c

plugins/Makefile
plugins/Makefile.in

